:root {
  /* Coolor styles*/
  --white: #ffffff;
  --primary-red-1: #e50914;
  --primary-red-2: #b70710;
  --primary-red-3: #b70710;
  --accent-green-1: #2ede75;
  --grayscale-gray: #757575;
  --grayscale-light-gray: #acacac;
  --grayscale-dark-gray: #2f2f2f;
  --grayscale-snow: #e3e3e3;

  /* Text-size styles */
  /* base size 16px */
}
