.footer-container {
  padding: 3.125em 0;
  background-color: var(--black);
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.125rem;
  align-items: left;
  width: 80%;
}

.footer-question {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  color: var(--grayscale-dark-snow);
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
}

.footer-address p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--grayscale-dark-snow);
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(4, 12.8125em);
  grid-template-rows: repeat(4, 1.1875em);
  row-gap: 1em;
  column-gap: 3.75em;
  color: var(--grayscale-light-gray);
}

.footer-address p {
  color: var(--grayscale-light-gray);
  font-size: 1.375rem;
  font-size: 700;
}

.address-wrapper {
  padding: 1em 0;
}

.address-wrapper ul {
  color: var(--grayscale-light-snow);
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 1100px) {
  .footer-list {
    grid-template-columns: repeat(3, 12.8125em);
    grid-template-rows: repeat(5, 1.1875em);
  }
}
@media (max-width: 860px) {
  .footer-list {
    grid-template-columns: repeat(2, 12.8125em);
    grid-template-rows: repeat(8, 1.1875em);
  }
}

@media (max-width: 550px) {
  .footer-container {
    padding: 1.5625em 2.5em;
  }
}

/* 모바일 */
@media (max-width: 375px) {
  .footer-wrapper {
    width: 99%;
    gap: 2.125rem;
  }
  .footer-question {
    flex-flow: column nowrap;
  }

  .footer-list {
    grid-template-columns: repeat(2, 12.8125em);
    grid-template-rows: repeat(8, 1.1875em);

    font-size: 0.875rem;
    row-gap: 0.625em;
    column-gap: 0;
    color: var(--grayscale-light-gray);
  }
}
