.header-container {
  width: 100%;
  padding: 2.5em 0;

  background: #000;
}
.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.header-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.625em;
}

.logo-small {
  display: none;
}
@media (max-width: 600px) {
  .header-container {
    padding: 1.25rem 1.5625em;
    gap: 3.5em;
  }

  .logo-xl {
    display: none;
  }
  .logo-small {
    display: block;
  }

  .button-login {
    font-size: 0.75rem;
    background: var(--primary-red-1);
    padding: 0.75em 1.25em;
    border-radius: 0.25em;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    width: auto;
    height: auto;
  }

  .button-select {
    height: 30px;
  }
}
/* 모바일 */
@media (max-width: 375px) {
  .header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1.25rem 0;
    width: 95%;
    margin: auto;
  }
}
