/* 버튼 컴포넌트 */
.button-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 32px;
  height: 100vh;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

.button-none {
  border: 0;
  background: transparent;
  padding: 0;
}

.button {
  display: block;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;
}

.button-bg {
  background: var(--primary-red-1);
}

.button-bg:hover .button-bg:focus {
  border: 1px solid var(--accent-gren, #58e590);
}

.button-login {
  font-size: 1rem;
  background: var(--primary-red-1);
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  text-align: center;
  color: var(--white);
  width: auto;
  height: auto;
}

.button-arrow-elliptical {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
  color: var(--white);
  font-size: 1.375rem;

  font-weight: 700;
  line-height: 1;
  background: var(--primary-red-1);
  padding: 0.9375em 1.25em;
  gap: 0.625em;
}

.button-arrow-rectangle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  width: 10rem;
  height: 2.5rem;
  padding: 0.9375em 1.25em;
  border-radius: 1.875em;
  gap: 0.625em;
  letter-spacing: -0.007px;
}

.select-language {
  /* border: 1px solid #757575; */
  display: inline-flex;
  position: relative;
  width: 113px;
  height: 40px;
  background: var(
    --gradients-100,
    linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%)
  );
}

.select-language .icon--global,
.select-language .icon--triangle {
  position: absolute;
  top: 50%;
  pointer-events: none;
  translate: 0 -50%;
}
.select-language .icon--global {
  left: 0.375em;
}
.select-language .icon--triangle {
  right: 0.375em;
}

.button-select {
  text-align: center;
  width: 113px;
  height: 43px;
  color: var(--grayscale-gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;

  appearance: none;

  border: 1px solid var(--grayscale-gray);
  border-radius: 0.125;
  /* background: url('/images/sprite/global.svg') 5px 50% no-repeat,
    url('/images/sprite/bi_caret-down-fill.svg') 95% 50% no-repeat; */
}

.form-email-desk input.main-email-desk::placeholder,
.form-email-mobile input.main-email-mobile::placeholder {
  position: relative;
  left: 1.25rem;
}
.form-email-desk {
  width: 100%;
  display: flex;
}

.main-email-mobile {
  display: flex;
  width: 15.3125rem;
  height: 2.5rem;
  border-radius: 30px;
}
